body {
    background-image: url('../Images/PossibleBackground.jpg');
    background-color: lightyellow;
    background-blend-mode: lighten;
    font-family: 'Fredoka One', cursive;
}

#topNav {
    background-color: #ffcacb;
    font-size: 20px;
    padding: 10px;
}

#topNav a:link {
    color: #4DFFF9;
    text-decoration: none;
    padding: 10px;
}

#topNav a:visited {
    color: #946E48;
}

#topNav a:hover {
    color: #FFCACB;
    background-color: #FFFADE;
}

#topNav a:active {
    color: #FFFADE;
}

#logoDiv {
    text-align: right;
    margin-right: 10%;
}

#border {
    background-image: url('../Images/nav-border.png');
    background-repeat: repeat-x;
    height: 50px;
}

.slideshow {
    max-width: 1000px;
    position: center;
    margin: auto;
}

.slide {
    display: none;
    text-align: center;
}

.slide img {
    height: 400px;
    width: auto;
}

#dots {
    text-align: center;
}

.dot {
    height: 15px;
    width: 15px;
    margin-right: 4px;
    margin-left: 4px;
    background-color: #00fff7;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.active, .dot:hover {
    background-color: #FFF;
    border: 1px solid #00FFF7;
}

#sellerText {
    text-align: center;
}

.fontBigger {
    font-size: 19px;
}

#AboutUsTitleText {
    text-align: center;
    color: rgb(147, 97, 43);
}
#AboutUsText {
    text-align: center;
    color: rgb(147, 97, 43);
    font-family: 'Fredoka One', cursive;
}
#graphCanvas {
    color:#EAF0CE;
    background-color: rgb(180, 224, 231);
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
    display: inline-block;
}

#baskinrobbins{
    font-family: 'PT Sans', sans-serif;
    color:white;
    float: left;
    position: relative;
    left: -90px;
    bottom: -400px;
    transform: rotate(-90deg);
      padding: 5px;
}

#quickbowls{
    font-family: 'PT Sans', sans-serif;
    color:white;
    float: left;
    position: relative;
    left: 40px;
    bottom: -400px;
    transform: rotate(-90deg);
      padding: 5px;
}

#coldStone{
    font-family: 'PT Sans', sans-serif;
    color:white;
    float: left;
    position: relative;
    left: 200px;
    bottom: -400px;
    transform: rotate(-90deg);
      padding: 5px;
}

#benjerry{
    font-family: 'PT Sans', sans-serif;
    color:white;
    float: left;
    position: relative;
    left: 410px;
    bottom: -400px;
    transform: rotate(-90deg);
      padding: 5px;
}

#graphText{
    font-family: 'Fredoka One', cursive;
    color: black;
    float: left;
    position: relative;
    left: -80px;
    bottom: -90px;
    transform: rotate(-90deg);
      padding: 5px;
}

#graphBox {
    margin-left: 50px;
}

#qback{
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

#qCenter {
    padding-top: 50mm;
    padding-bottom: 50mm;
}

table{
    margin-left: auto;
    margin-right: auto;
}

.th1{
    background-image: url("../Images/Ice\ Cream\ Scoops/Vanilla.png");
    background-size: cover;
    margin-bottom: -10mm;
    display: inline-block;
    position: absolute;
    padding-top: 10mm;
    box-sizing: border-box;
    text-align: center;
    color: black;
    height: 100px;
    width: 100px;
 }
.th2{
    background-image: url("../Images/Ice\ Cream\ Scoops/Vanilla.png");
    background-size: cover;
    margin-bottom: -10mm;
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    padding-top: 10mm;
    text-align: center;
    color: black;
    height: 100px;
    width: 100px;
 }
.th3{
    background-image: url("../Images/Ice\ Cream\ Scoops/Vanilla.png");
    background-size: cover;
    margin-bottom: -10mm;
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    padding-top: 10mm;
    text-align: center;
    height: 100px;
    width: 100px;
}