body {
    background-image: url('../Images/PossibleBackground.jpg');
    background-color: lightyellow;
    background-blend-mode: lighten;
}
table{
    margin-left: auto;
    margin-right: auto;
}
.th1{
   background-image: url("../Images/Ice\ Cream\ Scoops/strawberry.png");
   background-size: cover;
   margin-bottom: -10mm;
   display: inline-block;
   position: absolute;
   padding-top: 10mm;
   box-sizing: border-box;
   text-align: center;
   color: #00ffff;
   height: 100px;
   width: 100px;
}
.th1:hover{
    background-image: url("../Images/Ice\ Cream\ Scoops/Vanilla.png");
    color: black;
}
.th2{
    background-image: url("../Images/Ice\ Cream\ Scoops/Rocky.png");
    background-size: cover;
    margin-bottom: -10mm;
    display: inline-block;
    position: absolute;
    padding-top: 10mm;
    box-sizing: border-box;
    text-align: center;
    color: white;
    height: 100px;
    width: 100px;
}
.th2:hover{
    background-image: url("../Images/Ice\ Cream\ Scoops/strawberry.png");
    color:#00ffff;
}
.th3{
    background-image: url("../Images/Ice\ Cream\ Scoops/Vanilla.png");
    background-size: cover;
    margin-bottom: -15mm;
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    padding-top: 10mm;
    text-align: center;
    height: 100px;
    width: 100px;
}
.th3:hover{
    background-image: url("../Images/Ice\ Cream\ Scoops/Rocky.png");
    color: white;
}

#qback{
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

#qCenter {
    padding-top: 50mm;
    padding-bottom: 50mm;
}

#topNav {
    background-color: #ffcacb;
    font-size: 20px;
    padding: 10px;
}

#topNav a:link {
    color: #4DFFF9;
    text-decoration: none;
    padding: 10px;
}

#topNav a:visited {
    color: #946E48;
}

#topNav a:hover {
    color: #FFCACB;
    background-color: #FFFADE;
}

#topNav a:active {
    color: #FFFADE;
}

#logoDiv {
    text-align: right;
    margin-right: 10%;
}

#border {
    background-image: url('../Images/nav-border.png');
    background-repeat: repeat-x;
    height: 50px;
}

.slideshow {
    max-width: 1000px;
    position: center;
    margin: auto;
}

.slide {
    display: none;
    text-align: center;
}

.slide img {
    height: 400px;
    width: auto;
}

#dots {
    text-align: center;
}

.dot {
    height: 15px;
    width: 15px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #00fff7;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;
}

.active, .dot:hover {
    background-color: #FFF;
    border: 1px solid #00FFF7;
}

#sellerText {
    text-align: center;
}
